// Color Scheme
$white: #fff;
$black: #000;
$gray: #999;

// Button Color Scheme
$red: #EF6461;
$blue: #92DCE5;

// Font Family
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// Font Weigth
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// Font Sizes
$xx-large: 25px;
$x-large: 20px; 
$large: 18px; 
$medium: 16px;
$small: 14px;