/* Header Layout */
header{
    width: 100vw;
    height: 12.5rem;
    background-image: url('../img/image-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
}