/* Perfil Layout */
#perfil{
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.perfil__usario{
    display: flex!important;
    align-items: center!important;
}

.perfil__usuario-titulo{
    font-family: $primary-font;
    color: $black;
    font-size: $x-large;
    font-weight: $fw-bold;
    margin: 0;
}

.perfil__usuario-bajada{
    font-family: $secondary-font;
    color: $gray;
    font-size: $small;
    font-weight: $fw-regular;
    margin: 0;
}

.perfil__usuario-img{
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 100%;
    margin-right: 1.5rem;
}

/* Main Layout */
.contenido__titulo{
    font-family: $primary-font;
    color: $black;
    font-size: $xx-large;
    font-weight: $fw-medium; 
    margin: 1.875rem 0;
}

.contenido__card{
    border: none!important;
}

.contenido__card-img{
    width: 100%;
    height: auto;
    border-radius: 0!important;
}

.contenido__card-titulo{
    font-family: $primary-font;
    color: $black;
    font-size: $large;
    font-weight: $fw-bold;
    margin-top: 0.938rem;
}

.contenido__card-bajada{
    font-family: $secondary-font;
    color: $gray;
    font-size: $medium;
    font-weight: $fw-regular;
}

@media (max-width: 600px) { 
    #contenido{
        padding-left: 50px!important;
        padding-right: 50px!important;
        }
 }